@model TreeStructure.Entities.Tree

@{
    ViewData["Title"] = "CreateTreeNode";
}

<h1>CreateTreeNode</h1>

@using (Html.BeginForm("CreateTreeNode","Tree", FormMethod.Post)) {
<h4>Tree</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTreeNode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
               @Html.DropDownListFor(x => x.ParentId, (IEnumerable<SelectListItem>)ViewBag.Nodes,"Select Parent", new {@class = "form-control"})
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
