@model TreeStructure.Entities.TreeNode
    
    <div class="col-md-12" style="margin:100px auto;">
    <div class="modal fade in" id="modalAddNode" role="dialog" aria-hidden="true">
    </div>
    
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Tree Structure</div>

            <div class="panel-body">
                <div id="tree"></div>

                <div class="clearfix">
                </div>

                <br />
                <div>
                    <button id="DeleteNode" data-toggle="modal" class="btn btn-danger">Delete Node<span class="glyphicon glyphicon-trash"></span></button>
                    <button id="AddNode" data-toggle="modal" class="btn btn-warning">Add Node<span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
    </div>
