@model IEnumerable<TreeStructure.Entities.Tree>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    @Html.Partial("Tree")
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
@* CSS *@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">


<style>
    .container {
        min-width: 500px;
        overflow: hidden;
    }

    .innerTable table {
        margin: 0px auto;
        border-left-width: 4px;
    }

    td.innerTable {
        padding-left: 20px;
    }

    .icon {
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        float: left;
    }

    .icon-e {
        background-position: -32px -16px;
    }

    .icon-s {
        background-position: -64px -16px;
    }
</style>
@* Jquery for Collapse/Expend *@
<script type="text/javascript">
    $(document).ready(function () {
        $('.icon').live('click', function () {
            var $pRow = $(this).parents('tr');
            var $nextRow = $pRow.next('tr');
            $nextRow.toggle();
            $(this).toggleClass('icon icon-e');
        });
    })
</script>